<launch>
    <arg name="project" default="bprfd"/>
    <arg name="bag_file" default="/home/ubuntu/yn/SLAM/Dynamic_Object_Removing/Dataset/BPRFD/kitti.bag"/>

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find bprfd)/rviz/bprfd.rviz" />

    <!-- Rosbag -->
    <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_file)" />

    <!-- Parameters -->
    <rosparam file="$(find bprfd)/config/bprfd.yaml" command="load"/>

    <!-- Program -->
    <node name="$(arg project)" pkg="$(arg project)" type="$(arg project)" output="screen"/>
</launch>